<div class="row">
	<div class="col-md-2">
		<ul id="category">
			<% @categories.each do |category| %>
				<li>
					<%= link_to category_path(category) do %> 
						<%=  category.name %>
						<span>(<%= category.questions.size %>)</span>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="col-md-10" id="questions">
		<% @questions.each do |question| %>
			<div id="question" class="col-md-5">
				<% if question.ques_pic.present? %>
					<%= image_tag question.ques_pic.url(:medium_pic) %>
				<% end %>
				<h4><%= link_to question.title, question %></h4>
			</div>
		<% end %>
	</div>
</div>

<div class="col-md-12 text-center">
	<%= will_paginate @questions %>
</div>