<div class="row">
	<div class="col-md-8 col-md-offset-2 bg-white">
	<%= link_to 'Home', root_path %>
	<span>>></span>
	<%= link_to @question.category.name, category_path(@question.category) %>
		<% if @question.ques_pic.present? %>
			<%= image_tag @question.ques_pic.url(:large_pic) %>
		<% end %>
		<h4><%= @question.title %></h4><p>Submitted by <%= @question.user.name %></p>
			<% @question.choices.each do |choice| %>
			<ul>
				<li><%= link_to choice.option, question_choice_vote_path(@question, choice, vote: true), method: 'post' %>
					<span>(<%= choice.votes_count %>)</span>
				</li>
			</ul>
			<% end %>
		<% if @question.user == current_user %>
			<%= link_to 'Edit', edit_question_path(@question) %>
			<%= link_to 'Delete', question_path(@question), method: 'delete', data: { confirm: "Are you sure?" } %>
		<% end %>
	</div>
</div>
