<!DOCTYPE html>
<html>
<head>
  <title>Opinionpls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="notification_wrapper">
		<% flash.each do |name, msg| %>
		<div class="alert alert-<%= name %> alert-info">
			<%= msg %><a data-dismiss='alert'></a>
		</div>
		<% end %>
	</div>
	<div class="nav navbar navbar-default">
		<div class="container">
			<div class="navbar-brand"><%= link_to 'Opinion?', root_path %></div>
			<% if user_signed_in? %>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to 'New Question', new_question_path %></li>
					<li><%= link_to 'Account', edit_user_registration_path %></li>
					<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
				</ul>
			<% else %>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to 'Sign Up', new_user_registration_path %></li>
					<li><%= link_to 'Sign In', new_user_session_path %></li>
				</ul>
			<% end %>
		</div>
	</div>
	<div class="random-div">
		
	</div>
	<div class="content">
		<%= yield %>
	</div>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script>
	$(document).ready(function() {
		setTimeout(function(){
			$('#notification_wrapper').fadeOut('slow', function() {
				this.remove();
			});
		},2000)
	});
	</script>
</body>
</html>
